{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
    </div>
</div>

<h1 class="display-4 text-success">It workds</h1>
{% endblock %}

