{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Main image whit text</div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Courses image with text
                <div class="card" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../media/omoss.webp" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row p-3 g-0 border bg-light row-cols-1 row-cols-md-2">
                <div class="col-md-4">
                    <img src="../media/omoss.webp" class="img-fluid rounded-start" alt="About us, several alpacas.">
                </div>
                <div class="col-md-8">
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center">About us</h5>
                        <p class="card-text">Ida och Viktor heter vi som bor på Gränboda Gård. Vår historia här började här 2014 då köpte vi gården. Blenda i sällskap av vädurskaninen Lolita och leopardgeckon Torsten flyttade tillsammans med oss till gården sommaren 2014. </p>
                        <p class="card-text">Gården är i dagsläget 2,4ha till ytan och består av ett boningshus, en stallbyggnad, en ladugårdslänga, en jordkällare, ett växthus samt ett torp (gäststuga). Storleken gör att vi inte har något lantbruk kopplat till gården, men att det finns hagar för bete till djuren på sommaren.</p>
                        <p class="card-text text-center"><small class="text-body-secondary">Read more</small></p>
                    </div>
                </div>
        </div>
    </div>
</div>
<br>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../media/omoss.webp" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

