<div class="mx-auto navbar">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        About us
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About us</a></li>
            <li><a class="dropdown-item" href="#">Contact</a></li>
            <li><a class="dropdown-item" href="#">Visit our farm</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Courses
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alpaca</a></li>
            <li><a class="dropdown-item" href="#">Chicken</a></li>
            <li><a class="dropdown-item" href="#">Hourses</a></li>
            <li><a class="dropdown-item" href="#">Tomatoes</a></li>
            <li><a class="dropdown-item" href="#">Gardening</a></li>
        </ul>
    </div>
</div>
